---

---

<div class="ml-auto flex flex-col items-end gap-3 mt-5">
  <a
    class="inline-flex justify-center gap-0.5 overflow-hidden rounded-full bg-green-100 px-3 py-1 font-medium text-green-900 transition hover:bg-green-200 dark:bg-green-800/40 dark:text-green-400 ring-1 ring-inset ring-green-300 dark:ring-green-800 dark:hover:bg-green-800 dark:hover:text-green-300"
    aria-label="Next"
    href={'/posts/1'}
  >
    All Posts
    <svg
      viewBox="0 0 20 20"
      fill="none"
      aria-hidden="true"
      class="-mr-1 mt-0.5 h-5 w-5"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"></path>
    </svg>
  </a>
</div>
