---

---

<div
  class="callout my-6 px-5 py-6 flex gap-4 rounded-xl border border-yellow-500/20 bg-yellow-100/50 leading-6 dark:border-yellow-500/30 dark:bg-yellow-500/5"
>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stoke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 stroke-yellow-600"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
      ></path>
    </svg>
  </div>
  <div>
    <span class="font-semibold text-yellow-500 pb-3 flex">PITFALL</span>
    <slot />
  </div>
</div>
