---
import Logo from '@components/header/Logo.astro';
import Navigation from '@components/header/Navigation.astro';
import ToggleTheme from '@components/header/ToggleTheme.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentSegment = pathname.split('/')[1];
---

<header>
  <div
    class="relative z-40 flex py-4 items-center justify-between gap-12 bg-white/50 backdrop-blur-sm dark:bg-zinc-900/20 dark:backdrop-blur px-4 sm:px-6 lg:px-8"
  >
    <div
      class="absolute inset-x-0 top-full h-px bg-zinc-900/5 transition dark:bg-white/5"
    >
    </div>
    <div class="mx-auto flex w-full max-w-5xl items-center justify-between">
      <Logo />
      <div
        class="flex items-center gap-6 md:gap-12 flex-row-reverse sm:flex-row"
      >
        <Navigation currentSegment={currentSegment} />
        <ToggleTheme />
      </div>
    </div>
  </div>
</header>
