<a
  class="flex gap-2 items-center text-lg transition-all"
  aria-label="https://www.blog.huynk.tech"
  href="/"
>
  <svg
    class="h-8"
    viewBox="0 0 2125 600"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="600"
      y="600"
      width="600"
      height="600"
      rx="100"
      transform="rotate(180 600 600)"
      fill="#22C55E"></rect>
    <path
      d="M290 274C290 270.686 292.686 268 296 268H342C364.091 268 382 285.909 382 308V473C382 476.314 379.314 479 376 479H330C307.909 479 290 461.091 290 439V274Z"
      class="fill-white"></path>
    <path
      d="M124 129C124 125.686 126.686 123 130 123H176C198.091 123 216 140.909 216 163V473C216 476.314 213.314 479 210 479H164C141.909 479 124 461.091 124 439V129Z"
      class="fill-white"></path>
    <path
      d="M124 274C124 270.686 126.686 268 130 268H342C364.091 268 382 285.909 382 308V360C382 363.314 379.314 366 376 366H130C126.686 366 124 363.314 124 360V274Z"
      class="fill-white"></path>
    <path
      d="M400 405C400 401.686 402.686 399 406 399H440C462.091 399 480 416.909 480 439V473C480 476.314 477.314 479 474 479H406C402.686 479 400 476.314 400 473V405Z"
      fill="#86EFAC"></path>
    <path
      d="M964 243C964 239.686 966.686 237 970 237H999C1021.09 237 1039 254.909 1039 277V466C1039 469.314 1036.31 472 1033 472H970C966.686 472 964 469.314 964 466V243Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M795 82C795 78.6863 797.686 76 801 76H830C852.091 76 870 93.9086 870 116V466C870 469.314 867.314 472 864 472H801C797.686 472 795 469.314 795 466V82Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M801 243C801 239.686 803.686 237 807 237H983C1005.09 237 1023 254.909 1023 277V307C1023 310.314 1020.31 313 1017 313H807C803.686 313 801 310.314 801 307V243Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1427 466C1427 469.314 1424.31 472 1421 472L1392 472C1369.91 472 1352 454.091 1352 432L1352 243C1352 239.686 1354.69 237 1358 237L1421 237C1424.31 237 1427 239.686 1427 243L1427 466Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1595 560C1595 582.091 1577.09 600 1555 600L1526 600C1522.69 600 1520 597.314 1520 594L1520 243C1520 239.686 1522.69 237 1526 237L1589 237C1592.31 237 1595 239.686 1595 243L1595 560Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1595 466C1595 469.314 1592.31 472 1589 472L1412 472C1389.91 472 1372 454.091 1372 432L1372 403C1372 399.686 1374.69 397 1378 397L1589 397C1592.31 397 1595 399.686 1595 403L1595 466Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1149 466C1149 469.314 1146.31 472 1143 472L1114 472C1091.91 472 1074 454.091 1074 432L1074 243C1074 239.686 1076.69 237 1080 237L1143 237C1146.31 237 1149 239.686 1149 243L1149 466Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1317 466C1317 469.314 1314.31 472 1311 472L1282 472C1259.91 472 1242 454.091 1242 432L1242 243C1242 239.686 1244.69 237 1248 237L1311 237C1314.31 237 1317 239.686 1317 243L1317 466Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1317 466C1317 469.314 1314.31 472 1311 472L1134 472C1111.91 472 1094 454.091 1094 432L1094 403C1094 399.686 1096.69 397 1100 397L1311 397C1314.31 397 1317 399.686 1317 403L1317 466Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1798 243C1798 239.686 1800.69 237 1804 237L1833 237C1855.09 237 1873 254.909 1873 277L1873 466C1873 469.314 1870.31 472 1867 472L1804 472C1800.69 472 1798 469.314 1798 466L1798 243Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1630 243C1630 239.686 1632.69 237 1636 237L1665 237C1687.09 237 1705 254.909 1705 277L1705 466C1705 469.314 1702.31 472 1699 472L1636 472C1632.69 472 1630 469.314 1630 466L1630 243Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1630 243C1630 239.686 1632.69 237 1636 237L1813 237C1835.09 237 1853 254.909 1853 277L1853 307C1853 310.314 1850.31 313 1847 313L1636 313C1632.69 313 1630 310.314 1630 307L1630 243Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M2122.52 423.345C2125.08 425.45 2125.44 429.231 2123.34 431.79L2107.45 451.113C2093.43 468.178 2068.22 470.639 2051.15 456.61L1932.07 358.712C1929.51 356.607 1929.14 352.826 1931.25 350.267L1968.73 304.68C1970.83 302.12 1974.61 301.751 1977.17 303.856L2122.52 423.345Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1908 82C1908 78.6863 1910.69 76 1914 76H1943C1965.09 76 1983 93.9086 1983 116V466C1983 469.314 1980.31 472 1977 472H1914C1910.69 472 1908 469.314 1908 466V82Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1922.36 346.987C1920.27 344.417 1920.65 340.638 1923.22 338.546L2042.78 241.232C2059.92 227.286 2085.11 229.87 2099.06 247.003L2114.85 266.404C2116.94 268.974 2116.55 272.753 2113.98 274.845L1968.05 393.622C1965.48 395.714 1961.7 395.327 1959.61 392.757L1922.36 346.987Z"
      class="fill-[#18181B] dark:fill-white"></path>
    <path
      d="M1509 594C1509 597.314 1506.31 600 1503 600L1474 600C1451.91 600 1434 582.091 1434 560L1434 531C1434 527.686 1436.69 525 1440 525L1503 525C1506.31 525 1509 527.686 1509 531L1509 594Z"
      fill="#22C55E"></path>
  </svg>
</a>
