---
const { nextPage, prevPage } = Astro.props;
---

<div class="flex mt-8">
  <div class="flex flex-col items-start gap-3">
    {
      prevPage ? (
        <a
          class="inline-flex justify-center gap-0.5 overflow-hidden rounded-full bg-zinc-100 px-3 py-1 font-medium text-zinc-900 transition hover:bg-zinc-200 dark:bg-zinc-800/40 dark:text-zinc-400 dark:ring-1 dark:ring-inset dark:ring-zinc-800 dark:hover:bg-zinc-800 dark:hover:text-zinc-300"
          aria-label="Previous"
          href={prevPage}
        >
          <svg
            viewBox="0 0 20 20"
            fill="none"
            aria-hidden="true"
            class="-ml-1 mt-0.5 h-5 w-5 rotate-180"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"
            />
          </svg>
          Previous
        </a>
      ) : null
    }
  </div>
  <div class="ml-auto flex flex-col items-end gap-3">
    {
      nextPage ? (
        <a
          class="inline-flex justify-center gap-0.5 overflow-hidden rounded-full bg-zinc-100 px-3 py-1 font-medium text-zinc-900 transition hover:bg-zinc-200 dark:bg-zinc-800/40 dark:text-zinc-400 dark:ring-1 dark:ring-inset dark:ring-zinc-800 dark:hover:bg-zinc-800 dark:hover:text-zinc-300"
          aria-label="Next"
          href={nextPage}
        >
          Next
          <svg
            viewBox="0 0 20 20"
            fill="none"
            aria-hidden="true"
            class="-mr-1 mt-0.5 h-5 w-5"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"
            />
          </svg>
        </a>
      ) : null
    }
  </div>
</div>
