---

---

<div class="flex items-center gap-2">
  <span class="text-zinc-700 dark:text-zinc-300"
    >Stay up-to-date with news from me</span
  >
  <a href="/rss.xml" title="RSS Feed" aria-label="rss feed" target="_blank">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
        class="fill-green-500"></path>
      <path
        d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
        class="fill-green-500"></path>
      <circle cx="6" cy="18" r="2" class="fill-green-500"></circle>
    </svg>
  </a>
</div>
