---

---

<button
  id="scroll-top-btn"
  class="fixed p-2.5 rounded-full bottom-6 right-6 flex items-center justify-center transition hover:dark:bg-zinc-800 dark:bg-zinc-900 bg-white hover:bg-zinc-100 border border-zinc-200 dark:border-zinc-700 z-10"
  type="button"
  aria-label="Scroll to top"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="w-4 h-4"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"></path>
  </svg>
</button>

<script>
  const handleScrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  };

  const handleAddEventListener = () => {
    const scrollBtnElement = document.querySelector('#scroll-top-btn');

    if (scrollBtnElement) {
      scrollBtnElement.addEventListener('click', handleScrollToTop);
    }
  };

  handleAddEventListener();

  document.addEventListener('astro:after-swap', handleAddEventListener);
</script>
